<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 30%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h1>Multi-Camera Object Detection, Tracking, and Counting</h1>

<div class="clearfix">
  <div class="img-container">
        <p align="center">Camera stream 1</p>
      <input type="hidden" name="id_cam" value="0">
        <img src="{% url 'video_feed' feed_type='camera' device='{{ id }}'%}" class="center"  style="border:1px solid black;width:100%" alt="Camera stream 1">
  </div>

</div>
</body>
</html>
