{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}



{% block content %}
<div class="container" style="max-width: none">
    <div class="button-container">
        <button class="active" onclick="showVideos(9)">9</button>
        <button onclick="showVideos(6)">6</button>
        <button onclick="showVideos(3)">3</button>
        <button onclick="showVideos(1)">1</button>
       
    </div>
    <div class="video-grid">

        {% for x in allcam %}
        <div class="video">
            <a href="detail_camera/{{ forloop.counter0 }}">
                <img src="{% url 'video_feed' feed_type='camera' device=forloop.counter0 %}" class="center"  style="border:1px solid black;width:100%" alt="Camera stream 1">
            <h2>{{ x.name_cam }}</h2>
            </a>
        </div>
        {% endfor %}

        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
            <h2>Video 3</h2>
            </a>
        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 4</h2>
            </a>

        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 5</h2>
            </a>
        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 6</h2>
            </a>
        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 7</h2>
            </a>
        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 8</h2>
            </a>
        </div>
        <div class="video">
            <a href="#">
                <img src="{% static 'novideo.png' %}" class="center"  style="border:1px solid black;width:100%;" alt="Camera stream 1">
                <h2>Video 9</h2>
            </a>
        </div>
    </div>
</div>



<script>
  function showVideos(num) {
    // Lấy tất cả các video trên trang
    const videos = document.querySelectorAll('.video');

    // Ẩn tất cả các video
    videos.forEach(video => {
      video.style.display = 'none';
    });

    // Hiển thị số lượng video tương ứng
    for (let i = 0; i < num; i++) {
      videos[i].style.display = 'block';
    }

    // Cập nhật trạng thái của các nút điều chỉnh hiển thị
    const buttons = document.querySelectorAll('.button-container button');
    buttons.forEach(button => {
      if (button.innerHTML === num.toString()) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    });

    // Căn giữa các video còn lại (nếu có)
    const remainingVideos = document.querySelectorAll('.video:not(:first-child):not(:nth-child(2)):not(:nth-child(3))');
    remainingVideos.forEach(video => {
      video.style.margin = '0 auto';
    });
  }
</script>
{% endblock %}

{% block extra_css %}
<style>
    /* Căn giữa nội dung trang */
    .container {
      margin: 0 auto;
      max-width: 1200px;
      padding: 20px;
    }

    /* Thanh Navigation */
    nav {
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }

    /* Khung ảnh */
    .video-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin-bottom: 20px;
    }
    .video {
      background-color: #eee;
      padding: 20px;
      text-align: center;
    }

    /* Footer */
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    /* Nút điều chỉnh hiển thị */
    .button-container {
      margin-bottom: 20px;
      text-align: center;
    }
    button {
      background-color: #333;
      border: none;
      color: #fff;
      cursor: pointer;
      margin-right: 5px;
      padding: 10px 20px;
    }
    button.active {
      background-color: #fff;
      color: #333;
    }
  </style>
{% endblock %}
