{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}



{% block content %}


  <div class="camera-container">

    <div class="camera-main-list">
      <div class="camera-main-item" id="main-first">
        <img id="img-main" src="{% static 'novideo.jpg' %}" class="center" style="border: 1px solid #af4c4c00; width: 100%;" alt="Camera stream">
      </div>
    

      <div class="camera-main-item" id="main-second">
        <img id="img-main img-main-second" src="{% static 'novideo.jpg' %}" class="center" style="border: 1px solid #af4c4c00; width: 100%" alt="Camera stream">
      </div>
    
      <div class="camera-main-item" id="main-third">
        <img id="img-main" src="{% static 'novideo.jpg' %}" class="center" style="border: 1px solid #af4c4c00; width: 100%" alt="Camera stream">
      </div>
  
      <div class="camera-main-item" id="main-four">
        <img id="img-main" src="{% static 'novideo.jpg' %}" class="center" style="border: 1px solid #af4c4c00; width: 100%" alt="Camera stream">
      </div>
     
    </div>  
    <div class="camera-list">
      {% for x in allcam %}
        <div class="camera-item" id="item-5" style="display:flex; align-items: center;" >
          <img src="{% url 'video_feed' feed_type='camera' device=forloop.counter0 %}" class="center" style="border: 1px solid #af4c4c00; width: 80%" alt="Camera stream">
          <a href="/detail_camera/{{ forloop.counter0 }}">
          <div>{{ forloop.counter0 }} Xem chi tiết {{ x.name_cam }}</div>
          </a>
        </div>
      {% endfor %}   
    </div> 

  </div> 
    


 <script>

  window.addEventListener('load', function() {
    const mainFirst = document.getElementById('main-first');
    const mainSecond = document.getElementById('main-second');
    const mainThird = document.getElementById('main-third');
    const mainFour = document.getElementById('main-four');
    const cameraItems = document.querySelectorAll('.camera-item');
    
    let mainCamera = mainFirst; // mặc định mainCamera là mainFirst
    
    const switchMainCamera = function(url) {
      mainCamera.querySelector('img').src = url;
    }
    
    cameraItems.forEach(function(item) {
      item.addEventListener('click', function() {
        const imgItem = item.querySelector('img');
        switchMainCamera(imgItem.src);
      });
    });
    
    mainFirst.addEventListener('click', function() {
      mainCamera = mainFirst; // gán mainCamera là mainFirst khi click vào mainFirst
    });
    
    mainSecond.addEventListener('click', function() {
      mainCamera = mainSecond; // gán mainCamera là mainSecond khi click vào mainSecond
    });
    mainThird.addEventListener('click', function() {
      mainCamera = mainThird; // gán mainCamera là mainSecond khi click vào mainSecond
    });
  
    mainFour.addEventListener('click', function() {
      mainCamera = mainFour; // gán mainCamera là mainSecond khi click vào mainSecond
    });
  });
  

</script> 

{% endblock %}

{% block extra_css %}
<style>

  .camera-container {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    max-width:95%;
    margin: auto;
  
  }
  
  /*.camera-main {
    width: 70%;
    margin-right: 10px;
    height: 100%;
  }*/
  
  .camera-main-list {
    width: 85%;
    margin-right: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top : 5px;
    margin-right: 20px;
    margin-left: -15px;
  }
  
  .camera-main-item{
    width: 50%;
   
    text-align: center;
    flex-basis: 50%;
    flex-grow: 0;
    height: 20%;
  }
  .camera-main img {
    width: 100%;
    border: 1px solid black;
    height: 80%;
  }
  
  .camera-list {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top : 5px;
    overflow-y: scroll; 
      overflow-x: hidden;
    max-height: 100vh;
    margin-right: -22px
  }
  
  .camera-item {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    flex-grow: 0;
    height: 20%;
  }
  
  .camera-item img {
    width: 100%;
    border: 1px solid black;
  }
  


  </style> 
{% endblock %}
