<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
  .table{
    display: flex;
  }
  .row{
    background-color: #2f7786;
    width: 100px;
    height: 20px;
    text-align: center;
    margin: 5px;
  }
</style>
<body>
<div style="background-color: #5b0d0d" class="table">
  <div>
  <div class="row">
   Firt Name
 </div>
  <div class="row">
    Last Name
  </div>
<div class="row">
  Email
</div>
  </div>
  <div>
  <div class="row">
   haha
 </div>
  <div class="row">
  gha
  </div>
<div class="row">
  hahare
</div>
  </div>
  <div>
  <div class="row">
   haha
 </div>
  <div class="row">
  gha
  </div>
<div class="row">
  hahare
</div>
  </div>
  <div>
  <div class="row">
   haha
 </div>
  <div class="row">
  gha
  </div>
<div class="row">
  hahare
</div>
  </div>
</div>

</body>
</html>
